@{
    ViewBag.Title = "";
}

@section css{
    <link href="~/Content/themes/ray.css" rel="stylesheet" />
}

<div class="r-life-timer">
</div>

@section jsscript{
    <script src="~/Scripts/app/ray.js"></script>
    <script type="text/javascript">
        var $widget = $('.r-life-timer');
        $widget.lifeTimer({
            brithday: new Date(1991, 09, 02, 01, 24),
            endAge: 30
        });
    </script>
}
