@{
    ViewBag.Title = "Buyer Policy(BM)";
}


<div class="col-sm-3 hidden-xs">
    <aside class="sidebar">
        <div class="widget widget-navigation" id="scrollspy-nav">
            <ul class="nav nav-pills nav-stacked affix-top" id="mynav">
                <li><a href="#headline-1" class="scroll">Apakah Jenis Data Peribadi Yang Kami Kumpulkan Dan Bagaimana Kami Menggunakan Data Peribadi Anda</a></li>
                <li><a href="#headline-2" class="scroll">Penzahiran Data Peribadi Anda</a></li>
                <li><a href="#headline-3" class="scroll">Hak Anda Bagi Mengakses dan Membetulkan Data Peribadi Anda</a></li>
                <li><a href="#headline-4" class="scroll">Membuat Pilihan Berkenaan Penzahiran, Penyimpanan dan Penggunaan Data Peribadi Anda</a></li>
                <li><a href="#headline-5" class="scroll">Apa Akan Terjadi Sekiranya Data Peribadi Yang Diberikan Anda Tidak Sempurna?</a></li>
                <li><a href="#headline-6" class="scroll">Pindaan Kepada Polisi Privasi</a></li>
                <li><a href="#headline-7" class="scroll">Menghubungi Rhabitz Berkenaan Privasi Anda</a></li> 
            </ul>
        </div>
    </aside>
</div>

<div class="col-sm-9">
    <div class="default-style">
        <h2>Polisi Privasi</h2>
        <p>(bagi Peniaga)</p>            
        <p>Rhabitz Sdn Bhd ("<b>Rhabitz</b>") mementingkan privasi anda dan memberi komitment untuk menghormati dan melindungi privasi anda.</p>            
        <p>Kami hanya akan mengumpul dan menggunakan data peribadi anda menurut Akta Perlindungan Data Peribadi 2010 ("<b>PDPA</b>"), peraturan-peraturan, garis-garis panduan, dan perintah-perintah yang  terpakai di bawah PDPA dan mana-mana pindaan statutori atau enakmen semula yang berkenaan, Polisi Privasi ini dan juga terma-terma privasi dalam perjanjian(-perjanjian) anda dengan Rhabitz, sekiranya ada.</p>            
        <p>Privasi anda adalah penting kepada kami, oleh demikian sila mengambil masa untuk memahami amalan-amalan privasi kami:</p>            

        <br/><h2 id="headline-1">Apakah Jenis Data Peribadi Yang Kami Kumpulkan Dan Bagaimana Kami Menggunakan Data Peribadi Anda</h2>            
        <p>Bagi membolehkan kami membekalkan perkhidmatan kami kepada anda, dan juga bagi membenarkan anda menggunakan laman web kami dan/atau aplikasi mudah alih kami untuk tujuan menjual produk-produk anda ("Pasaran" tersebut), kami perlu mengumpul dan memproses data peribadi berkenaan anda. Maklumat tersebut termasuk maklumat anda seperti nama, nama syarikat, nombor kad pengenalan, nombor syarikat, alamat penyampaian atau alamat perniagaan, alamat emel, nombor telefon, butir-butiran akaun bank, butir-butiran kad kredit/debit.</p>            
        <p>Data peribadi anda mungkin dikumpul semasa anda berurusan dengan kami dalam apa jua cara atau kaedah termasuk berikutan apa-apa komunikasi yang dibuat dengan kami. Kami juga mungkin mengumpul data peribadi anda melalui sumber-sumber lain, termasuk tanpa had, melalui mana-mana bank, institusi kewangan, agensi pelaporan kredit, proses surat-menyurat dengan anda, sebagai contoh, sekiranya anda menyerahkan sebarang permohonan, memfailkan sebarang aduan dengan kami, atau apabila anda menghubungi bahagian sokongan kami.</p>            
        <p>Data peribadi anda mungkin diproses bagi sebahagian atau kesemua tujuan-tujuan yang dinyatakan berikut:</p>
        <ul>
            <li>bagi mendaftarkan dan memproses akaun pengguna anda dengan kami;</li>
            <li>bagi membekalkan anda dengan akses kepada kawasan admin yang diperuntukkan kepada anda dalam Pasaran tersebut, bagi tujuan mengakses perkhidmatan kami dan bagi menyenaraikan produk-produk anda di Pasaran tersebut;</li>
            <li>bagi membekalkan anda dengan perkhidmatan-perkhidmatan kami berkenaan dengan Pasaran tersebut, termasuk tetapi tidak terhad kepada penyenaraian informasi, teks, imej dan bahan-bahan lain yang relevan dan berkenaan dengan produk-produk anda di Pasaran tersebut;</li>
            <li>bagi mengenalpasti tempahan-tempahan pelanggan, dan bagi mengumpul, menyimpan dan menguruskan hasil jualan dari penjualan produk-produk anda melalui Pasaran tersebut;</li>
            <li>bagi membekalkan pelanggan-pelanggan dengan perkhidmatan sokongan pelanggan berkenaan produk-produk anda;</li>
            <li>bagi membekalkan satu sistem pengurusan bagi penghantaran dan pemulangan produk-produk anda;</li>
            <li>bagi menguruskan penjualan produk-produk anda di Pasaran tersebut dan apa-apa perkhidmatan lain yang berkenaan;</li>
            <li>bagi membekalkan anda dengan sokongan bagi menguruskan apa-apa permohonan dan aduan;</li>
            <li>bagi menjalankan rujukan kredit dan menentukan kelayakan kredit anda;</li>
            <li>bagi menjalankan usaha yang wajar atau pemerhatian lain atau aktiviti pemeriksaan (termasuk pemeriksaan latar belakang) mengikut kewajipan di sisi peraturan atau undang-undang atau prosedur pengurusan risiko yang diperlukan di sisi undang-undang atau yang telah ditetapkan oleh kami;</li>
            <li>bagi berkomunikasi dengan anda dan mengekalkan dan mempertingkatkan hubungan bisnes kami;</li>
            <li>bagi pentadbiran dalaman serta bagi tujuan pengemaskinian, seperti pengauditan, analisis data, penyimpanan rekod, senarai kenalan, pengurusan risiko, keselamatan dan sebagainya;</li>
            <li>bagi penyimpanan kami, 'hosting back-up' (sama ada untuk pemulihan kecemasan atau sebaliknya) bagi data peribadi anda, sama ada dalam atau di luar Malaysia; dan/atau</li>
            <li>untuk mana-mana tujuan lain yang perlu untuk mengendalikan, menyelenggara, dan mempertingkatkan pengurusan hubungan bisnes kami dengan anda.</li>
        </ul>

        <br/><h2 id="headline-2">Penzahiran Data Peribadi Anda</h2>
        <p>Kami tidak akan menjual, berkongsi, memindahkan atau menzahirkan sebarang data peribadi anda kepada mana-mana pihak ketiga tanpa kebenaran anda.</p>            
        <p>Walau bagaimanapun, sebagai sebahagian daripada pembekalan perkhidmatan kami kepada anda berhubung Pasaran tersebut, kami mungkin perlu menzahirkan data peribadi anda kepada kumpulan syarikat Rhabitz (termasuk subsidiari, syarikat berkaitan atau syarikat bersekutu kami), dan juga kepada pihak-pihak ketiga terpilih, termasuk mana-mana pedagang lain, penasihat profesional, penjual, pembekal, ejen, kontraktor, pembekal perkhidmatan, rakan kongsi perniagaan, pelanggan, syarikat insuran, bank, institusi kewangan, waris hakmilik kami, sebarang agensi kerajaan, pihak berkuasa kawal selia dan/atau badan statutori, di dalam atau di luar Malaysia, di mana perlu dan atas dasar perlu-tahu sahaja. Ini adalah tertakluk pada setiap masa kepada mana-mana undang-undang (termasuk peraturan-peraturan, garis-garis panduan dan/atau obligasi-obligasi) yang terpakai kepada Rhabitz.</p>            

        <br/><h2 id="headline-3">Hak Anda Bagi Mengakses dan Membetulkan Data Peribadi Anda</h2>            
        <p>Kami boleh membantu anda mengakses dan membetulkan data peribadi anda dalam rekod kami. Di mana anda ingin mempunyai akses kepada atau di mana anda ingin membetulkan mana-mana data peribadi anda (termasuk data peribadi kepada individu-individu yang mempunyai hubungan persaudaraan dengan anda atau mana-mana individu yang boleh dikenalpasti melalui data peribadi anda), anda boleh membuat permohonan pembetulan kepada kami melalui laman web kami di <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i>.</p>            

        <br/><h2 id="headline-4">Membuat Pilihan Berkenaan Penzahiran, Penyimpanan dan Penggunaan Data Peribadi Anda</h2>            
        <p>Tertakluk pada setiap masa kepada mana-mana hak dan obligasi kontrak kami di bawah undang-undang dan peraturan-peraturan yang relevan, anda boleh membuat pilihan berkenaan pengunaan atau tahap pengunaan data peribadi anda. Sekiranya anda ingin berbuat demikian, sila hubungi kami melalui butir-butiran yang diberikan di penghujung Polisi Privasi ini.</p>            

        <br/><h2 id="headline-5">Apa Akan Terjadi Sekiranya Data Peribadi Yang Diberikan Anda Tidak Sempurna?</h2>            
        <p>Di mana dinyatakan (contohnya, dalam borang permohonan kami yang berkenaan), ia adalah wajib  bagi anda membekalkan data peribadi tertentu kepada kami untuk membolehkan kami membekalkan anda dengan perkhidmatan kami berkenaan dengan Pasaran tersebut. Jika anda enggan memberikan data peribadi yang diwajibkan tersebut, kami mungkin tidak dapat memproses permohonan/permintaan bagi membekalkan anda dengan perkhidmatan kami.</p>            

        <br/><h2 id="headline-6">Pindaan Kepada Polisi Privasi</h2>            
        <p>Rhabitz merizabkan hak untuk meminda dan mengubah Polisi Privasi pada bila-bila masa. Sebarang perubahan kepada Polisi Privasi ini akan diterbitkan di laman web kami.</p>            

        <br/><h2 id="headline-7">Menghubungi Rhabitz Berkenaan Privasi Anda</h2>            
        <p>Sekiranya anda mempunyai sebarang pertanyaan berkenaan Polisi Privasi ini atau bagaimana kami mengendalikan data peribadi anda, atau sekiranya anda ingin membuat aduan atau permintaan bagi mengakses data atau membetulkan data peribadi anda, sila hubungi kami di <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i>.</p>            
        <p>Klik <a href="/RhabitzStore/PrivacyPolicy?lang=en">SINI</a> untuk polisi privasi dalam Bahasa Inggris.</p>
        <p class="text-right"><i>Tarikh Kemaskini: 22 November 2016</i></p>
    </div>
</div>