@{
    ViewBag.Title = "Buyer Policy";
}


<div class="col-sm-3 hidden-xs">
    <aside class="sidebar">
        <div class="widget widget-navigation" id="scrollspy-nav">
            <ul class="nav nav-pills nav-stacked affix-top" id="mynav">
                <li><a href="#headline-1" class="scroll">What Kind Of Personal Data We Collect And How We Use Your Personal Data</a></li>
                <li><a href="#headline-2" class="scroll">Disclosure Of Your Personal Data</a></li>
                <li><a href="#headline-3" class="scroll">Your Rights To Access And Correct Your Personal Data</a></li>
                <li><a href="#headline-4" class="scroll">Exercising Choices Over The Disclosure, Retention And Use Of Your Personal Data</a></li>
                <li><a href="#headline-5" class="scroll">What If Personal Data Provided By You Is Incomplete?</a></li>
                <li><a href="#headline-6" class="scroll">Changes to the Privacy Policy</a></li>
                <li><a href="#headline-7" class="scroll">Contacting Rhabitz About Your Privacy</a></li>
            </ul>
        </div>
    </aside>
</div>

<div class="col-sm-9">
    <div class="default-style">
        <h2>Privacy Policy</h2>

        <p>Rhabitz Sdn Bhd ("<b>Rhabitz</b>") values your privacy and is committed to respecting and protecting your privacy online.</p>
        <p>We will only collect and use your personal data in accordance with the Personal Data Protection Act 2010 ("<b>PDPA</b>"), the applicable regulations, guidelines, orders made under the PDPA and any statutory amendments or re-enactments thereof, this Privacy Policy and the privacy terms in your agreement(s) with Rhabitz, if any.</p>
        <p> Your privacy matters to us, so please take the time to get to know our privacy practices:</p>
        <br/><h2 id="headline-1">What Kind Of Personal Data We Collect And How We Use Your Personal Data</h2>
        <p>For us to complete our transactions with you, we will need to collect and process personal data about you, such information may include your name, your company name, NRIC number, your company number, delivery address, email address, telephone number, bank details, credit/debit card details.</p>
        <p>Your personal data may be collected from you during your course of dealings with us in any way or manner including pursuant to any transactions and/or communications made with us. We may also collect your personal data from a variety of sources, including without limitation, at any events, through our customer satisfaction surveys, exchange of correspondences with you, e.g. if you submit a request, file a complaint with us, or when you contact our support team.</p>
        <p>Your personal data may be processed for some or all of the following purposes:</p>
        <ul>
            <li>to register and operate your merchant account with Rhabitz;</li>
            <li>to assess, process and provide products and/or services to you;</li>
            <li>to improve our products and and/or services to you, including providing you with relevant product and/or service information;</li>
            <li>to administer and process any payments related to products and/or services requested by you;</li>
            <li>to communicate with you and to maintain and improve customer relationship;</li>
            <li>to personalise and improve your user experience with our website;</li>
            <li>to respond to your enquiries or complaints or resolve any issues and disputes which may arise in connection with any of your dealings with us;</li>
            <li>to conduct market research or surveys, internal marketing analysis, customer profiling activities, analysis of customer patterns and choices, planning and statistical and trend analysis in relation to our products and/or services;</li>
            <li>for any other reasonable purposes required to operate, maintain and better manage our business and your relationship with us.</li>
        </ul>
        <p>We may also send to you information, alerts, newsletters, updates, promotional materials, announcements on our products, services, upcoming events, activities, promotions, campaigns, polls or surveys by us and/or our selected third parties (business/marketing partners, sponsors, advertisers) which may be of interest to you. If you do not intend to continue receiving any such marketing and promotional materials, you may notify us by following the "opt-out" option provided (e.g. to "opt-out" as per the option via SMS, or to click on the "unsubscribe" link embedded in the relevant promotional email).</p>
        <br/><h2 id="headline-2">Disclosure Of Your Personal Data</h2>
        <p>We will not sell, share, transfer or disclose any of your personal data to any third party without your consent.</p>
        <p>However, as part of providing you with our products and/or services, we may need to disclose your personal data to the Rhabitz group of companies (our subsidiaries, related or associated companies), as well as to selected third parties, including our merchants, agents, business partners, service providers, suppliers, vendors, distributors, contractors or agents, within or outside Malaysia, where necessary and strictly on a need-to-know basis, in connection with our processing of your orders and the delivery of products and/or services to you. This will be subject at all times to any laws (including regulations, guidelines and/or obligations) applicable to Rhabitz.</p>
        <br/><h2 id="headline-3">Your Rights To Access And Correct Your Personal Data</h2>
        <p>
            We can assist you to access and correct your personal data held by us. Where you wish to have access to or where you wish to correct any of your personal data (including personal data of such persons related to you or those which are identified from your personal data), you may make a correction request to us via <i>
                <a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a>
            </i>
        </p>
        <br/><h2 id="headline-4">Exercising Choices Over The Disclosure, Retention And Use Of Your Personal Data</h2>
        <p>Subject always to our contractual rights and obligations under relevant laws and regulations, you may exercise your choice in respect of the use or the extent of use of your personal data. Should you wish to do so, kindly contact us at the contact details provided at the end of this Privacy Policy.</p>
        <br/><h2 id="headline-5">What If Personal Data Provided By You Is Incomplete?</h2>
        <p>Where indicated (e.g. in your user account opening forms online), it is obligatory to provide certain personal data to us to enable us to process your application for our products and/or services. Should you decline to provide such obligatory personal data, we may not be able to process your application/request to register a user account with us or to provide you with our products and/or services.</p>
        <br/><h2 id="headline-6">Changes to the Privacy Policy</h2>
        <p>Rhabitz reserves the right to modify and change this Privacy Policy at any time. Any changes to this Privacy Policy will be published on our website.</p>
        <br/><h2 id="headline-7">Contacting Rhabitz About Your Privacy</h2>
        <p>
            Should you have any query in relation to this Privacy Policy or how we handle your personal data, or if you would like to make a complaint or data access or correction request in respect of your personal data, kindly contact us at <i>
                <a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a>
            </i>.
        </p>
        <p>
            To view the privacy policy in Bahasa Malaysia, click <a href="/RhabitzStore/PrivacyPolicy?lang=ms-MY">HERE</a>
        </p>
        <p class="text-right">
            <i>Last updated: 22 November 2016</i>
        </p>
    </div>
</div>