@{
    ViewBag.Title = "Buyer Terms";
}


<div class="col-sm-3 hidden-xs">
    <aside class="sidebar">
        <div class="widget widget-navigation" id="scrollspy-nav">
            <ul class="nav nav-pills nav-stacked affix-top" id="mynav">
                <li><a href="#headline-1" class="scroll">1.	Definitions</a></li>
                <li><a href="#headline-2" class="scroll">2.	Account</a></li>
                <li><a href="#headline-3" class="scroll">3.	Price</a></li>
                <li><a href="#headline-4" class="scroll">4.	Payment</a></li>
                <li><a href="#headline-5" class="scroll">5.	Transactions</a></li>
                <li><a href="#headline-6" class="scroll">6.	Delivery</a></li>
                <li><a href="#headline-7" class="scroll">7.	Service Obligations</a></li>
                <li><a href="#headline-8" class="scroll">8.	Submissions</a></li>
                <li><a href="#headline-9" class="scroll">9.	Customer’s Obligations</a></li>
                <li><a href="#headline-10" class="scroll">10.	Order Limitations</a></li>
                <li><a href="#headline-11" class="scroll">11.	Order Cancellation</a></li>
                <li><a href="#headline-12" class="scroll">12.	Returns and Refund</a></li>
                <li><a href="#headline-13" class="scroll">13.	No Warranties</a></li>
                <li><a href="#headline-14" class="scroll">14.	Indemnity</a></li>
                <li><a href="#headline-15" class="scroll">15.	Limitation of Liability</a></li>
                <li><a href="#headline-16" class="scroll">16.	Outsourcing</a></li>
                <li><a href="#headline-17" class="scroll">17.	Confidential Information</a></li>
                <li><a href="#headline-18" class="scroll">18.	Intellectual Property Rights</a></li>
                <li><a href="#headline-19" class="scroll">19.	Personal Data</a></li>
                <li><a href="#headline-20" class="scroll">20.	Termination</a></li>
                <li><a href="#headline-21" class="scroll">21.	App</a></li>
                <li><a href="#headline-22" class="scroll">22.	Applicable law and jurisdiction</a></li>
                <li><a href="#headline-23" class="scroll">23.	Miscellaneous</a></li>
            </ul>
        </div>
    </aside>
</div>

<div class="col-sm-9">
    <div class="default-style">
        <h2>INTRODUCTION</h2>
        <p>This Customer Agreement ("<b>Agreement</b>") governs the relationship between Rhabitz Sdn Bhd, ("<b>Rhabitz</b>" or "<b>us</b>" or "<b>we</b>", as the context may be) and you ("<b>the Customer</b>" or "<b>you</b>" or "<b>yourself</b>") for the use of the Services, Website and/or App, created by Rhabitz for the purpose of the Services ("<b>Marketplace</b>").</p>
        <p>By accessing the Marketplace and using the Services, you signify that you have read and accepted these terms and conditions.</p>
        <h2>AGREED TERMS:</h2>
        <br /><h2 id="headline-1">1.	Definitions</h2>
        <p>1.1	The definitions and rules of interpretation in this Clause apply in this Agreement (unless the context requires otherwise).</p>
        <ul class="list-style-none">
            <li>
                <p>"<b>App</b>"<br/>means the mobile Application designed and provided by Rhabitz to you to access the Services;</p>
            </li>
            <li>
                <p>"<b>Customer</b>"<br />means any third party purchaser of the Goods on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Good(s)</b>"<br />means an item listed for sale to Customers on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Intellectual Property Rights</b>"<br />means all vested, contingent and future intellectual property rights including but not limited to the following: (1) works of authorship, copyrights, including moral rights, registrations and applications for registration thereof; (2) patents, patent applications and all related continuations, divisional, reissue, utility models, applications and registrations thereof, inventions (whether patentable or not), designs, trademarks (whether registered or not, including applications) and domain names; (3) trade mark and trade name rights and similar rights; (4) trade secrets and Confidential Information, know-how, database rights, system process and techniques, designs, prototypes, enhancements, improvements, customization, work-in-progress, research and development information; (5) together with all rights to the grant of and applications for the same and including all similar or analogous rights and all other rights in the nature of intellectual and industrial property throughout the world and all future rights of such nature.</p>
            </li>
            <li>
                <p>"<b>Merchant</b>"<br />means a third party seller of Goods;</p>
            </li>
            <li>
                <p>"<b>Order</b>"<br />the order for the Goods placed by you through the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Personal Data</b>"<br />means any personal information as defined by the applicable personal data protection laws and regulations in Malaysia, including, but not limited to our employees, agents, consultants, third party service providers and Customers;</p>
            </li>
            <li>
                <p>"<b>Product</b>"<br />means the Goods ordered by you on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Services</b>"<br />means (1) the provision of the Marketplace to you; (2) facilitating the exchanging of information and (3) concluding sale and purchase transactions of Products between you and the Merchant; and</p>
            </li>
            <li>
                <p>"<b>Website</b>"<br />www.tutubunny.com.</p>
            </li>
        </ul>

        <p>1.2	In this Agreement (except where the context otherwise requires):</p>
        <ul class="list-style-none">
            <li><p>(a)	the Clause headings are included for convenience only and shall not affect the interpretation of this Agreement;</p></li>
            <li><p>(b)	use of the singular includes the plural and vice versa;</p></li>
            <li><p>(c)	a reference to writing or written includes faxes and e-mail;</p></li>
            <li><p>(d)	any reference to "persons" includes natural persons, firms, partnerships, companies, corporations, associations, organizations, governments, states, foundations and trusts (in each case whether or not having separate legal personality);</p></li>
            <li><p>(e)	any reference to a Party or to the Parties or their respective affiliates shall be deemed to include the party or parties hereto and their respective successors and permitted assigns and their respective employees;</p></li>
            <li><p>(f)	any reference to an enactment, statute, statutory provision or subordinate legislation ("Legislation") shall (except where the context otherwise requires) be construed as referring to such legislation as amended and in force from time to time and to any legislation which re-enacts or consolidates (with or without modification) any such legislation.</p></li>
        </ul>
        <br /><h2 id="headline-2">2.	Account</h2>
        <p>2.1	The Services are available to individuals above the age of 18 years. If you are below the age of 18, you will need the If you are a minor, being someone who is under 18 years old, you can only use the Services with the prior consent of your parents or guardian. In any event, by agreeing to use the Services, you represent and warrant that you are 18 years or above. If you do not agree to these terms, do not have that authority, or are a minor and have not obtained the prior consent of your parents or guardian, do not use the Services.</p>
        <p>2.2	You must submit to us the requested for information to register for an account to use the Services ("<b>Account</b>").</p>
        <p>2.3	Upon successful registration, you will receive an Account, username and a password upon completing the registration process. You are responsible for maintaining the confidentiality of the password, username and Account, and remain fully responsible for all activities that occur under your Account.</p>
        <p>2.4	The Account allows the Customer to use and enjoy the services provided by Rhabitz.</p>
        <br /><h2 id="headline-3">3.	Price</h2>
        <p>3.1	All the prices as displayed on the Marketplace are final, and may from time to time, be amended at our sole discretion.</p>
        <p>3.2	All the prices as displayed on the Marketplace are inclusive of 6% Malaysian good and services tax (GST). Any value added tax, (government) service tax, or any similar taxes which may from time to time be imposed by any government or related agencies (including any export, import or custom taxes) shall be itemized separately on the invoices issued for purchase of the Goods by the Customer. Prices also exclude any and all delivery charges; which, if applicable, will be itemized separately on the invoices issued for purchase of the Goods by the Customer.</p>
        <br /><h2 id="headline-4">4.	Payment</h2>
        <p>4.1	Subject to the terms and conditions of this Agreement, you may use the payment methods as provided by Rhabitz on the Marketplace to make payment for the Products.</p>
        <p>4.2	The payment processing services, may be handled directly by Rhabitz or by a third party processing agent. If a third party processing agent handles the payment process, such payments are subject to the terms of use and privacy policy of the third party processing agent (including among others payment methods, tax liability, collection and use of your personal information, and support levels).</p>
        <p>4.3	In the event a payment is cancelled for whatever reasons, Rhabitz shall be entitled to pass on to the Customer any third party charges Rhabitz has incurred.</p>
        <p>4.4	Any errors or allegation as to an error in our invoices must be brought to our attention of Company within 24 hours from the date and time stated on the invoice, failing which the invoice shall be deemed to be accurate and the Customer’s right to challenge any such invoice shall be automatically waived.</p>
        <p>4.5	Subject to <b>Clause 4.6</b>, Rhabitz will investigate with good faith any allegation of error in the Customer’s invoice and shall inform the Customer of the result of such investigation. Any decision regarding such investigation shall be at the sole discretion of Rhabitz.</p>
        <p>4.6	The Customer must reimburse Rhabitz all costs and expenses (including legal costs) incurred in the collection of any overdue amounts. Costs and expenses will continue to accrue even if this Agreement is terminated.</p>
        <br /><h2 id="headline-5">5.	Transactions</h2>
        <p>5.1	As our business is only to provide an online marketplace for you and the Merchant to conclude a sale and purchase transactions of the Goods, Rhabitz does not represent the Merchant in any transactions and does not assume, to the fullest extent permitted by the relevant laws, any direct or indirect responsibility for such transactions, including any cancellation by the Merchant.</p>
        <p>5.2	In any event that there is a dispute arising from such transactions, you may contact our support team at <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i> and they will put you in touch with the necessary party from the Merchant’s team to resolve such dispute amicably.</p>
        <br /><h2 id="headline-6">6.	Delivery</h2>
        <p>6.1	Deliveries for Goods on the Marketplace are currently limited to deliveries to valid addresses within Malaysia only.</p>
        <p>6.2	Subject to <b>Clause 6.3</b> and upon the receipt and verification of the Order and the relevant Payment from you, we will attempt to deliver the Goods to you between 5 to 7 working days.</p>
        <p>6.3	Rhabitz reserves the right to modify the estimated delivery time at its discretion.</p>
        <p>6.4	The dates quoted for the delivery are merely indicative and shall be deemed as the "estimated time of delivery" of the Goods. For the avoidance of doubt, time is not of an essence in this Agreement and Rhabitz shall not be liable for any delay caused by the delivery. Rhabitz is not liable for any erroneous and/ or unsuccessful deliveries arising as a result of your actions in providing erroneous or inaccurate information regarding the delivery details/addresses.</p>
        <p>6.5	For any self-collection of Products, the collection date and time will be as per the date and time selected by the Customer during the purchase process.</p>
        <p>6.6	The Customer shall inform Rhabitz at <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i> in the event there are any changes to the date and time of the self-collection of Products by the Customer. Our support team will inform the Customer of any changes to the date and time of such self-collection, apart from those changes initiated by the Customer.</p>
        <br /><h2 id="headline-7">7.	Service Obligations</h2>
        <p>You hereby agree that the use of internet shall be at your own risk and subject to any applicable laws, codes of practices and regulations.</p>
        <br /><h2 id="headline-8">8.	Submissions</h2>
        <p>8.1	You hereby agree that all questions, suggestions, reviews, comments and any contribution which is connected to you on the Marketplace ("<b>Submission</b>") will become the exclusive property of Rhabitz.</p>
        <p>8.2	You shall not use any bogus or fake email address or otherwise mislead Rhabitz, the Merchant, appropriate authorities or any other third parties as to the authenticity, accuracy and origin of the Submissions.</p>
        <p>8.3	We reserve our right to amend, edit or remove the Submissions at our sole discretion.</p>
        <br /><h2 id="headline-9">9.	Customer’s Obligations</h2>
        <p>9.1	You shall not re-sell the Services or the Products to any person or parties.</p>
        <p>9.2	You shall use the Services in accordance with this Agreement, any such conditions and/or reasonable instructions as may be notified to you by us, from time to time.</p>
        <p>9.3	You shall not use, post Submissions or allow anyone to use the Services for the following reasons:</p>
        <ul class="list-style-none">
            <li><p>(a)	to post any Submission that is illegal, obscene, threatening, defamatory, pornographic, indecent, racially offensive, suggestive, harassing, infringing on any intellectual property rights, or otherwise objectionable or that contains any political element, commercial solicitation, or that is dishonest and/or false in nature;</p></li>
            <li><p>(b)	to cause inconvenience, annoyance or anxiety to any parties;</p></li>
            <li><p>(c)	to violate the rights of any person;</p></li>
            <li><p>(d)	in breach of the terms and conditions of this Agreement;</p></li>
            <li>
                <p>(e)	in breach of any laws and regulations; or</p>
            </li>
            <li>
                <p>(f)	to commit any criminal offence or fraud.</p>
            </li>
        </ul>
        <p>9.4	You are responsible for the use of your Account, the Website or App, Services (regardless as to whether the person is authorized or not and/or whether by the Customer or any other person including any hacker), including without limitation for all costs incurred and for any breaches of this Agreement</p>
        <br /><h2 id="headline-10">10.	Order Limitations</h2>
        <p>10.1	Rhabitz reserves the right to reject or limit the quantity of any Order for any Goods at its sole discretion. In the event Rhabitz has changed the Order pursuant to this <b>Clause 10</b>, Rhabitz may contact the Customer via the contact details provided in the Account.</p>
        <p>10.2	Rhabitz reserves the right to prohibit or limit sales to any purported re-sellers or dealers.</p>
        <br /><h2 id="headline-11">11.	Order Cancellation</h2>
        <p>11.1	An Order cancellation may occur in the following manner:</p>
        <ul class="list-style-none">
            <li><p>(a)	In the event the Customer wishes to cancel an Order before the Order has been deemed final and concluded by Rhabitz’s system, the Customer may contact the Rhabitz customer support team at <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i> and cancel the Order. Such cancellation can only be accepted and processed within 24 hours from notification by the Customer or upon confirmation that the said order has not been shipped to the Customer, which will take up to 3 working days. An accepted cancellation request shall require between 3 to 5 working day(s) processing time to be completed. Customer will be notified by e-mail upon completion of the processing of the request cancellation.</p></li>
            <li><p>Subject always to clause 11.1(a), in the event the Order has been processed for payment, our customer support team will process the necessary refund to you for such cancelled Order on a case by case basis. Rhabitz does not in any way guarantee that a cancellation request may be accepted.</p></li>
            <li><p>(b)	A cancellation fee of RM10 or 2% of the order value, whichever is the higher, will be charged to the Customer for every cancellation request received. Such amount shall be deducted from any refund amount refunded to the Customer for any cancellation request made.</p></li>
            <li><p>(c)	In the event that, the Customer violates its obligations or warranties under this Agreement, Rhabitz may cancel the Order and notify the Customer of such cancellation. Rhabitz will proceed to close the Order and refund the amount as stated in the Order, after deducting the necessary processing fee, to the Customer.</p></li>
        </ul>
        <p>11.2	Subject to <b>Clause 11.1</b> above, the Customer shall be prohibited from cancelling or modifying any Order once it is deemed final and concluded by Rhabitz’s system, unless Rhabitz has agreed in writing and the Customer further warrants that it shall unequivocally indemnify Rhabitz for any losses, expenses, costs arising from such modification or cancellation.</p>
        <p>11.3	Rhabitz will not be responsible for any risk or liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with the Order cancellation effected under this <b>Clause 11</b>.</p>
        <br /><h2 id="headline-12">12.	Returns and Refund</h2>
        <p>12.1	Subject to <b>Clause 12.2</b>, the Customer may contact the Rhabitz customer support team at <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i> for a refund or a return of Goods within 48 hours from your receipt of the same. Goods must be returned within five working days (5) days from your receipt of the same and should reach us no later than ten (10) days from the day you receive the Goods. Our Rhabitz customer support team will attend to your request for a refund on a case by case basis. The return evaluation process may take up to 7 working days from our receipt of the Goods to process.</p>
        <p>12.2	The Customer is not allowed to return or exchange the following Products:</p>
        <ul class="list-style-none">
            <li>
                <p>(a)	lingerie and underwear;</p>
            </li>
            <li>
                <p>(b)	food items;</p>
            </li>
            <li>
                <p>(c)	swimwear (e.g. bikinis, swimsuits, swimming trunks);</p>
            </li>
            <li>
                <p>(d)	beauty products;</p>
            </li>
            <li>
                <p>(e)	fragrances;</p>
            </li>
            <li>
                <p>(f)	customized products; or</p>
            </li>
            <li>
                <p>(g)	ticket, hotel reservations and vouchers, airline tickets, concert tickets or a product of similar nature.</p>
            </li>
        </ul>
        <p>12.3	Rhabitz will not be responsible for any risk or be liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with any defect related to or the return of the Products affected under this <b>Clause 12</b>. Customer shall duly acknowledge receipt of the return of the Products and bear any return shipment risk and responsibilities at the site of the designated Rhabitz return address. Any reimbursement of shipping fee may be made only when Rhabitz accepts the return request. In the event the reimbursement request is not accepted by Rhabitz and shipping fee shall be borne by the Customer.</p>
        <p>12.4	Any refund amount will be credited into the account provided by the Customer to Rhabitz within 10 to 20 working days from the acceptance of the refund request by Rhabitz.</p>
        <p>12.5	Only Products purchased from the Marketplace are subject to the return and refund policies herein and must be subject to the refund criteria set out herein as well as any other criteria informed to Customer by the Rhabitz support team. Any request for return or refund must be submitted with all necessary details in order for such refund or return to be processed.</p>
        <p>12.6	Return conditions for the Products are displayed within the product detail page. Customer must refer to the same before submitting any return/refund request.</p>
        <p>12.7	Proof of purchase (including order number and tax invoice) is required in order for Rhabitz to process any refund/return.</p>
        <p>12.8	Rhabtz does not provide any guarantee on stock availability for the replacement of any Product.</p>
        <br />
        <h2 id="headline-13">13.	No Warranties</h2>
        <p>13.1	The warranty period of selected Goods, if any, which are displayed on the listing of the Goods are representations made by the Merchant and not Rhabitz. In the event you have any concerns or queries regarding the warranty for the Products you have ordered, please contact our customer support team at <i><a href="mailto:customerservice@tutubunny.com">customerservice@tutubunny.com</a></i> for assistance.</p>
        <p>13.2	Rhabitz, to the fullest extent permitted by law, makes no representations or warranties, express or implied, including:</p>
        <ul class="list-style-none">
            <li>
                <p>(a)	that the Marketplace, Website, App and Services will always be uninterrupted, accessible, secure, or free from error;</p>
            </li>
            <li>
                <p>(b)	any implied warranty arising from course of dealing or usage of trade; and</p>
            </li>
            <li>
                <p>(c)	any remedy, obligation, liability, right of claim, unless arising from acts of  fraud, negligence or misconduct directly attributed to Rhabitz.</p>
            </li>
        </ul>
        <p>13.3	The Customer acknowledges that any information provided by Rhabitz through the Marketplace, may contain inaccuracies or errors, despite Rhabitz’s reasonable effort to minimize such errors. Rhabitz hereby excludes liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
        <p>13.4	Rhabitz will similarly not be held liable or responsible for the content of any link found on the Marketplace, which is not related to Rhabitz or the Services.</p>
        <br />
        <h2 id="headline-14">14.	Indemnity</h2>
        <p>14.1	The Customer agrees to release Rhabitz, together with its agents and employees, from any claims, disputes, demands, losses and damages, in relation to the transaction, provided such release will not apply where such claims arise due to Rhabitz's fraud, gross negligence or willful misconduct.</p>
        <p>14.2	The Customer will indemnify, defend and hold harmless Rhabitz and its employees, directors, agents and representatives, from and against any damages, losses, liabilities, claims, litigation, demands, proceedings, costs, or expenses related to any actual or alleged breach of the Customer’s undertakings, representations, warranties, or obligations set out in this Agreement.</p>
        <p>14.3	The Customer also undertakes to indemnify Rhabitz and its employees, directors, agents and representatives, from and against any damages, losses, liabilities, claims, litigation, demands, proceedings, costs, or expenses related to any third parties claims in connection with the Submissions posted on the Marketplace.</p>
        <br />
        <h2 id="headline-15">15.	Limitation of Liability</h2>
        <p>15.1	Nothing in this Agreement excludes or restricts each Party’s liability for fraudulent misrepresentation, death or personal injury resulting from its own negligence or that of its employees while acting in the course of their employment by such Party. However, nothing in this Clause gives a Party any right or remedy which it would not otherwise have under this Agreement.</p>
        <p>15.2	Subject to <b>Clause 16.1</b> and to the maximum extent permitted by law, Rhabitz will not be held liable for any damages of any nature, in connection with this Agreement, the Website, App, the Services, the Goods, provided that such losses are directly attributed to Rhabitz’s fraud, gross negligence or willful misconduct.</p>
        <p>15.3	Without limiting the application of any other provision of this <b>Clause 16</b>, Rhabitz’s total liability to the Customer under this Agreement will not exceed the value of the Products as stated in the Order or RM1,000, whichever is lower.</p>
        <br />
        <h2 id="headline-16">16.	Outsourcing</h2>
        <p>16.1	Rhabitz may entrust or outsource part or all of their operation of the Services to a third party, at Rhabitz’s sole discretion.</p>
        <p>16.2	Rhabitz will not be responsible for any risk or liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with the services provided by the outsourced third party, under this <b>Clause 17</b>.</p>
        <br />
        <h2 id="headline-17">17.	Confidential Information</h2>
        <p>17.1	The Customer agrees to keep any and all Confidential Information received by it pertaining to the Services strictly confidential.</p>
        <p>17.2	The confidentiality obligations in this <b>Clause 18</b> will not apply if the Customer is required by court, government or other regulatory body to disclose the Confidential Information, but only to the extent required by law, provided that the Customer gives Rhabitz written notice as soon as practicable of such requirement.</p>
        <p>17.3	For the purposes of this Agreement, "Confidential Information" means all information of a confidential nature disclosed (whether in writing, verbally or by any other means and whether directly or indirectly) including, without limitation, any information relating to products, operations, processes, plans or intentions, client information, product information, Intellectual Property Rights, market opportunities and business affairs or those of customers or other contacts (and for the purposes of this definition, "confidential nature" shall refer to information which is identified as confidential at the time of disclosure or would be considered to be confidential by a reasonable person based upon the nature of the information and the circumstances of disclosure).</p>
        <p>17.4	This <b>Clause 18</b> shall continue in force for a period of three (3) years after any termination of this Agreement/cessation of use of the Services by the Customer for any reason whatsoever.</p>
        <br />
        <h2 id="headline-18">18.	Intellectual Property Rights</h2>
        <p>18.1	Nothing in this Agreement entitles the Customer to use the Rhabitz name, logo and trade mark or any of the Rhabitz Intellectual Property Rights.</p>
        <p>18.2	All Intellectual Property Rights pertaining to the Services, Marketplace, Website, App shall remain the exclusive property of Rhabitz or its licensors and nothing shall operate as to transfer any interest, or create any express or implied licenses, in the Rhabitz’s Intellectual Property Rights to the Customer.</p>
        <p>18.3	By posting Submissions on the Marketplace, the Customer hereby grants to Rhabitz and its Affiliates a world-wide, non-exclusive, royalty-free license (with full right to sublicense) to use, publish, display, reproduce, exploit, modify, alter, integrate, make available, merge, decompile or reverse engineer or commercially or non-commercially exploit in any manner, the Submissions for its business operations, the purposes of providing the Services and fulfilling Rhabitz’s obligations under this Agreement.</p>
        <p>18.4	The Customer warrants that it is the rightful owner of the Submissions. Nothing in this Agreement shall limit the Customer’s liability for breach of this warranty or for breach by the Customer of Rhabitz’s Intellectual Property Rights.</p>
        <p>18.5	The Customer shall hold harmless and further indemnify against Rhabitz, its directors, employees and agents from and against any costs, expenses claims, damages, losses or liability (including but not limited to, legal fees incurred in procuring legal advice) that Rhabitz may suffer, on a full indemnity basis, arising from any alleged or actual infringement, whether or not under the laws of Malaysia, of any third party’s intellectual property rights in relation to the Submissions or any Customer content on the Marketplace.</p>
        <br />
        <h2 id="headline-19">19.	Personal Data</h2>
        <p>Rhabitz, its Affliates and its authorized representative undertakes that it shall use and process personal data of the Customers in compliance with the Personal Data Protection Act 2010 and only for the purpose of this Agreement [or any other purposes as stated in its privacy notice].</p>
        <br />
        <h2 id="headline-20">20.	Termination</h2>
        <p>20.1	Rhabitz may by way of written notice terminate this Agreement with immediate effect, if:</p>
        <ul class="list-style-none">
            <li><p>(a)	the Customer is the subject of bankruptcy, winding-up or any other insolvency proceedings in Malaysia or elsewhere, a receiver or administrator  is appointed over any of the Customer’s assets, or the Customer enters into any composition or arrangement (or equivalent) with the Customer’s creditors, or Rhabitz reasonably believes that such events are reasonably likely to occur. For the purposes of this <b>Clause 21.1(a)</b> "Customer" shall include the Customer’s direct and/or indirect parent company;</p></li>
            <li><p>(b)	the Customer makes a material misstatement in the details the Customer has provided to Rhabitz to enable Rhabitz to provide the Services;</p></li>
            <li><p>(c)	the Customer is in breach of any provision of this Agreement and failing to remedy the same within 14 days after being notified; or</p></li>
            <li><p>(d)	the Customer contravenes any laws and regulations.</p></li>
        </ul>
        <p>20.2	If Rhabitz terminates this Agreement pursuant to <b>Clause 21.1</b> above, any outstanding payment, charges or fees shall become immediately due and payable and the Customer shall, without prejudice to any claim, demands or action by Rhabitz for damages for any breach of this Agreement, pay to Rhabitz all outstanding charges, payment or fees due and owing at within 7 days of the termination and any transactions, performance, obligations between the Customer and the Merchants, which occurred prior to the written termination notice as provided in <b>Clause 21.1</b>, shall be fulfilled by the Customer, at the Customer’s own cost.</p>
        <p>20.3	The termination of this Agreement pursuant to this <b>Clause 21</b> shall not affect any provision of this Agreement which is expressed or by implication intended to survive the termination of this Agreement.</p>
        <br />
        <h2 id="headline-21">21.	App</h2>
        <p>21.1	The Customer agrees to comply with this Agreement and any licenses, approvals or permits required by Rhabitz or other owner of any Intellectual Property Rights in the App.</p>
        <p>21.2	Whilst Rhabitz has made reasonable efforts to minimize defects or errors in the App and to periodically check the App for viruses, Rhabitz does not warrant that the Customer’s use of the App will be uninterrupted or that the operation of the App will be free from errors and virus, secure, or that the App and the functions of the App will be merchantable. In addition, the security mechanism implemented or installed in the App has inherent limitations and the Customer shall have sole responsibility in determining that the App sufficiently meets the Customer’s requirements.</p>
        <p>21.3	To the maximum extent permitted by law and upon prompt notification of the Customer, Rhabitz’s sole liability (and the Customer’s sole remedy) with respect to the App shall be to use all reasonable endeavors to correct the defective App, if required.</p>
        <br />
        <h2 id="headline-22">22.	Applicable law and jurisdiction</h2>
        <p>22.1	This Agreement shall be governed by and construed in accordance with Malaysian laws.</p>
        <p>22.2	In the event of any dispute or difference of any kind whatsoever which shall arise between any of the Parties in connection with, or arising out of this Agreement, or the breach, termination or validity hereof (referred to as the "<b>Dispute</b>"), the Parties shall attempt in good faith, for a period of 30 Business Days after the receipt by one Party of a notice from any other Party of the existence of the Dispute ("<b>Dispute Notice</b>"), to amicably settle such Dispute in the first instance by mutual discussions between the Parties.</p>
        <p>22.3	If the Dispute cannot be settled within 30 Business Days from the date of the Dispute Notice, such Dispute shall be referred to and be finally settled by arbitration under the auspices of the Kuala Lumpur Regional Centre for Arbitration ("<b>Centre</b>") and under the Rules as applied by the Centre. There shall be one (1) arbitrator whose appointment shall be agreed by the Parties. If the Parties are unable to agree on an arbitrator within a reasonable time, the arbitrator shall be appointed by the director of the Centre. The place of arbitration shall be the Centre. The language of the arbitration shall be English. The decision of the arbitrator shall be final and binding on the Parties except in the case of manifest errors and the costs of the arbitration shall be borne in such manner as the arbitrator shall direct.</p>
        <p>22.4	Notwithstanding the foregoing, in the event the Parties believe that they may suffer irreparable harm prior to the resolution of any conflict by following the arbitration procedures established herein, either or both Parties may apply to a court of competent jurisdiction for a restraining order or other equitable relief.</p>
        <br />
        <h2 id="headline-23">23.	Miscellaneous</h2>
        <p>23.1	The Customer shall not assign, transfer or subcontract its rights deriving from this Agreement, without the prior written consent of Rhabitz. Rhabitz may at its sole discretion assign, transfer or subcontract all or part of its rights set out in this Agreement.</p>
        <p>23.2	The Parties are and shall remain as independent contractors, and nothing in this Agreement will create any franchise, partnership, joint venture, agency, or exclusivity between the Parties. This Agreement will not cause the establishment of any relationship of employment between the Parties or with any person who provides services to either Party.</p>
        <p>23.3	No waiver by Rhabitz of any default by the Customer under this Agreement shall be construed as a waiver by Rhabitz of any future defaults, whether of a like or different character. No granting of time or other forbearance or indulgence by Rhabitz to the Customer shall imply a waiver of Rhabitz’s rights or shall in any way release, discharge or otherwise affect the Merchant’s liability under this Agreement.</p>
        <p>23.4	If any court or any governmental agency or authority of competent jurisdiction holds any provision of this Agreement to be invalid, void, or unenforceable, including in particular any limitation of liability or exclusion of implied terms, then:</p>
        <ul class="list-style-none">
            <li><p>(a)	if necessary, the Parties agree to amend the applicable provision in accordance with applicable law; and</p></li>
            <li><p>(b)	the remainder of this Agreement shall nevertheless remain legal, valid, and enforceable.</p></li>
        </ul>
        <p>23.5	Rhabitz will not be liable to the Customer or be deemed to be in breach of this Agreement due to any failure to perform any of its obligations if such failure was due to an event of Force Majeure. Upon the occurrence of any Force Majeure event, Rhabitz may, at its discretion, fully or partially suspend performance of its obligations hereunder while such event continues. For the purposes of this Agreement, a "Force Majeure" event is an event beyond Rhabitz’s control including but not limited to: (1) act of God, explosion, flood, tempest, fire or accident; (2) interruption of traffic, strikes, lock-outs or other industrial actions or trade disputes (3) imposition of laws, restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of the authorities which affects the Services; (4) import or export regulations or embargoes; (5) war or threat of war, sabotage, insurrection, civil disturbance or requisition, act of terrorism or civil unrest</p>
        <p>23.6	Any reproduction or distribution in any manner of the content set out in the Marketplace by the Customer is strictly prohibited.</p>
        <p>23.7	No third party shall have any rights to enforce any terms of this Agreement without prior written consent of Rhabitz.</p>
        <p>23.8	Rhabitz reserves its right to amend and vary the terms and conditions in this Agreement from time to time and the Customer agrees to abide without restriction to the terms and conditions set out hereunder as revised from time to time.</p>
    </div>
</div>