@{
    ViewBag.Title = "Merchant Terms";
}


<div class="col-sm-3 hidden-xs">
    <aside class="sidebar">
        <div class="widget widget-navigation" id="scrollspy-nav">
            <ul class="nav nav-pills nav-stacked affix-top" id="mynav">
                <li><a href="#headline-1" class="scroll">1	Definitions</a></li>
                <li><a href="#headline-2" class="scroll">2	Commencement</a></li>
                <li><a href="#headline-3" class="scroll">3	Term</a></li>
                <li><a href="#headline-4" class="scroll">4	Services</a></li>
                <li><a href="#headline-5" class="scroll">5	Sales Proceeds</a></li>
                <li><a href="#headline-6" class="scroll">6	Merchant Undertakings</a></li>
                <li><a href="#headline-7" class="scroll">7	Usage of the Marketplace</a></li>
                <li><a href="#headline-8" class="scroll">8	Sale of Goods on the Marketplace</a></li>
                <li><a href="#headline-9" class="scroll">9	Delivery Models</a></li>
                <li><a href="#headline-10" class="scroll">10	Drop Shipping</a></li>
                <li><a href="#headline-11" class="scroll">11	Order Cancellation</a></li>
                <li><a href="#headline-12" class="scroll">12	Returns and Refun</a></li>
                <li><a href="#headline-13" class="scroll">13	No Warranties</a></li>
                <li><a href="#headline-14" class="scroll">14	Indemnity</a></li>
                <li><a href="#headline-15" class="scroll">15	Limitation of Liability</a></li>
                <li><a href="#headline-16" class="scroll">16	Outsourcing</a></li>
                <li><a href="#headline-17" class="scroll">17	Confidential Information</a></li>
                <li><a href="#headline-18" class=" scroll">18	Intellectual Property Rights</a></li>
                <li><a href="#headline-19" class="scroll">19	Personal Data</a></li>
                <li><a href="#headline-20" class="scroll">20	Termination</a></li>
                <li><a href="#headline-21" class="scroll">21	App</a></li>
                <li><a href="#headline-22" class="scroll">22	Applicable law and jurisdiction</a></li>
                <li><a href="#headline-23" class="scroll">23	Miscellaneous</a></li>
                <li><a href="#headline-24" class="scroll">Schedule 1</a></li>
            </ul>
        </div>
    </aside>
</div>

<div class="col-sm-9">
    <div class="default-style">
        <br /><h2>Merchant Agreement between Rhabitz Sdn Bhd and Merchant</h2>
        <br /><h2>INTRODUCTION</h2>
        <p>This Merchant Agreement ("<b>Agreement</b>") governs the relationship between Rhabitz Sdn Bhd (Company No. 1168990-P), ("<b>Company</b>" or "<b>us</b>" or "<b>we</b>", as the context may be) and its Merchants for the use of the Services, the <i><a href="www.tutubunny.com">www.tutubunny.com</a></i> website or any or mobile app of the Company for the purpose of selling goods via an online marketplace created by the Company ("<b>Marketplace</b>").</p>
        <p>Collectively the Company and the Merchant shall be referred to as the "<b>Parties</b>" and each a "<b>Party</b>".</p>
        <p>By engaging the Services, you signify that you have read and accepted these Terms of Business.</p>
        <br /><h2>AGREED TERMS:</h2>
        <br /><h2 id="headline-1">1	Definitions</h2>
        <p>1.1	The definitions and rules of interpretation in this Clause apply in this Agreement (unless the context requires otherwise).</p>
        <ul class="list-style-none">
            <li>
                <p>"<b>3PL</b>"
                    <br />means the designated 3rd party logistics provider appointed by the Merchant;</p>
            </li>
            <li>
                <p>"<b>Account</b>"<br />means the Merchant’s admin area allocated to the Merchant that allows the Merchant to access the Services and listing of the Goods;</p>
            </li>
            <li>
                <p>"<b>Affiliate</b>"<br />means any entity directly or indirectly controlled by, or controlling a Party or any affiliate or subsidiary;</p>
            </li>
            <li>
                <p>"<b>App</b>"<br />means the mobile Application designed and provided by the Company to the Merchant for the purposes of selling goods on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Commission</b>"<br />means the percentage of the Listing Price indicated in <b>Schedule 1</b>, depending on the category of Goods;</p>
            </li>
            <li>
                <p>"<b>Commencement Date</b>"<br />has the meaning given in <b>Clause 3.1</b>;</p>
            </li>
            <li>
                <p>"<b>Confidential Information</b>"<br />means all information of a confidential nature disclosed (whether in writing, verbally or by any other means and whether directly or indirectly) including, without limitation, any information relating to products, operations, processes, plans or intentions, client information, product information, Intellectual Property Rights, market opportunities and business affairs or those of clients or other contacts (and for the purposes of this definition, "confidential nature" shall refer to information which is identified as confidential at the time of disclosure or would be considered to be confidential by a reasonable person based upon the nature of the information and the circumstances of disclosure);</p>
            </li>
            <li>
                <p>"<b>Customer</b>"<br />means a third party purchaser of the Goods on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Customer Agreement</b>"<br />means the agreement between the Company and the Customer for the usage of the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Defective Products</b>"<br />means any wrong, faulty, defective, damaged, non-compliant (with description) Good or Product;</p>
            </li>
            <li>
                <p>"<b>Delivery Model</b>"<br />has the meaning given in <b>Clause 9</b>;</p>
            </li>
            <li>
                <p>"<b>Drop Shipping</b>"<br />has the meaning prescribed in <b>Clause 9.1(a)</b> below;</p>
            </li>
            <li>
                <p>"<b>Failed Delivery</b>"<br />means an Order that cannot be successfully delivered or executed due to (1) wrong the delivery address; (2) the Customer cannot be found at the given address; or (3) the Customer refuses to accept the delivery of the Product;</p>
            </li>
            <li>
                <p>"<b>Force Majeure</b>"<br />any event beyond a Party’s control including but not limited to: (1) act of God, explosion, flood, tempest, fire or accident; (2) interruption of traffic, strikes, lock-outs or other industrial actions or trade disputes (3) imposition of laws, restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of the authorities which affects the Services; (4) import or export regulations or embargoes; (5) war or threat of war, sabotage, insurrection, civil disturbance or requisition, act of terrorism or civil unrest;</p>
            <li>
                <p>"<b>Good(s)</b>"<br />means an item listed by the Merchant for sale to Customers on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Intellectual Property Rights</b>"<br />means all vested, contingent and future intellectual property rights including but not limited to the following: (1) works of authorship, copyrights, including moral rights, registrations and applications for registration thereof; (2) patents, patent applications and all related continuations, divisional, reissue, utility models, applications and registrations thereof, inventions (whether patentable or not), designs, trademarks (whether registered or not, including applications) and domain names; (3) trade mark and trade name rights and similar rights; (4) trade secrets and Confidential Information, know-how, database rights, system process and techniques, designs, prototypes, enhancements, improvements, customization, work-in-progress, research and development information; (5) together with all rights to the grant of and applications for the same and including all similar or analogous rights and all other rights in the nature of intellectual and industrial property throughout the world and all future rights of such nature;</p>
            </li>
            <li>
                <p>"<b>Listing Price</b>"<br />the price indicated by the Merchant on the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Merchant Materials</b>"<br />means the product information, text, images, and any other relevant or legally required information relating to the Goods, including third party and Merchant’s trademarks and other Intellectual Property Rights;</p>
            </li>
            <li>
                <p>"<b>Order</b>"<br />the electronic or physical request placed by a Customer for a Product through the Marketplace;</p>
            </li>
            <li>
                <p>"<b>Payment Fee</b>"<br />means a fee, calculated on the basis of a percentage of the Listing Price of a Product;</p>
            </li>
            <li>
                <p>"<b>Personal Data</b>"<br />means any personal information as defined by the applicable personal data protection laws and regulations in Malaysia, including, but not limited to the Company’s employees, agents, consultants, third party service providers and Customers;</p>
            </li>
            <li>
                <p>"<b>Product</b>"<br />means the Goods ordered by the Customer;</p>
            </li>
            <li>
                <p>"<b>Returned Product</b>"<br />means the return of a Product to the Company or the Merchant by the Customer in accordance with the Company’s return policy, including Defective Products. Merchant will retain ownership, title of all Returned Products;</p>
            </li>
            <li>
                <p>"<b>Sales Proceeds</b>"<br />means the gross proceeds, received and held by the Company in a designated bank account for the Merchant, collected from the payment made by the Customers for the Products;</p>
            </li>
            <li>
                <p>"<b>Services</b>"<br />means the Services provided under this Agreement, namely (1) the listing of Merchant Materials regarding the Goods; (2) collecting, retaining and managing the Sales Proceeds for the Merchant; (3) Customer care services; (4) Order verification; (5) system for the management of deliveries and returns; (5) the selling of the Goods on the Marketplace; (6) any other services mutually agreed between Parties;</p>
            </li>
            <li>
                <p>"<b>Service Fee</b>"<br />means the fee for the Services which is calculated based on the Commission, the Payment Fee and the Shipping Fees; and</p>
            </li>
            <li>
                <p>"<b>Shipping Fee</b>"<br />means the fee for shipping the Products to the Customers.</p>
            </li>
        </ul>
        <p>1.2	In this Agreement (except where the context otherwise requires):</p>
        <ul class="list-style-none">
            <li><p>(a)	the Clause headings are included for convenience only and shall not affect the interpretation of this Agreement;</p></li>
            <li><p>(b)	use of the singular includes the plural and vice versa;</p></li>
            <li><p>(c)	a reference to writing or written includes faxes and e-mail;</p></li>
            <li><p>(d)	any reference to "persons" includes natural persons, firms, partnerships, companies, corporations, associations, organizations, governments, states, foundations and trusts (in each case whether or not having separate legal personality);</p></li>
            <li><p>(e)	any reference to a Party or to the Parties or their respective affiliates shall be deemed to include the party or parties hereto and their respective successors and permitted assigns and their respective employees;</p></li>
            <li><p>(f)	any reference to an enactment, statute, statutory provision or subordinate legislation ("Legislation") shall (except where the context otherwise requires) be construed as referring to such legislation as amended and in force from time to time and to any legislation which re-enacts or consolidates (with or without modification) any such legislation.</p></li>
        </ul>
        <br />
        <h2 id="headline-2">2	Commencement</h2>
        <p>2.1	The Commencement Date shall be the date the Merchant first registers with the Company through its website, App or any other means offered by the Company.</p>
        <p>2.2	The Merchant will receive an Account, username and a password upon completing the registration process. The Merchant is responsible for maintaining the confidentiality of the password, username and Account, and is fully responsible for all activities that occur under its Account.</p>
        <p>2.3	The functions of the Account include the following</p>
        <ul class="list-style-none">
            <li><p>2.3.1	Allows the Merchant to have an overview of product sales count;</p></li>
            <li><p>2.3.2	Allows the Merchant to upload and maintain products for sale;</p></li>
            <li><p>2.3.3	Allows the Merchant to update product details on the go;</p></li>
            <li><p>2.3.4	Allows the Merchant to view and manage orders from buyers;</p></li>
            <li><p>2.3.5	Notifies / alerts the Merchant when product stock count is low; and</p></li>
            <li><p>2.3.6	Allows the Merchant to handle self-collect orders.</p></li>
        </ul>
        <br />
        <h2 id="headline-3">3	Term</h2>
        <p>3.3	This Agreement shall be valid for a period of unless terminated or expired pursuant to the terms set out herein and any termination of the Merchant Account by the Merchant requires written notification by the Merchant to the Company 1 month prior to such termination.</p>
        <br />
        <h2 id="headline-4">4	Services</h2>
        <p>4.3	Subject to the terms and conditions of this Agreement, the Company shall provide the Services to the Merchant pursuant to the agreed Service Fee and the Merchant agrees to use the Services at its own risk.</p>
        <p>4.4	The Parties understand that the Company is providing a platform for Merchants and the Customers to complete transaction of Goods. As a general rule, the Company is not involved in the actual transaction between the Merchant and the Customers, except for those situations as mentioned in this Agreement.</p>
        <p>4.5	The Merchant agrees that it shall provide accurate description of the Goods, package and ship them through a designated 3PL and also provide after sales services directly to the Customer.</p>
        <p>4.6	By registering for or using the Services, the Merchant expressly authorizes the Company, or the Company’s designated third party processing agent, to act as its agent for purposes of collecting payments and processing payments, refunds and adjustments for the Goods and retaining or remitting Sales Proceeds for the Merchant. The Merchant hereby undertakes to the Company that all payment transactions are in compliance with the relevant laws of Malaysia.</p>
        <br />
        <h2 id="headline-5">5	Sales Proceeds</h2>
        <p>5.1	The Company will retain the Sales Proceeds and the Merchant agrees that the Company may, before the Sales Proceeds is forwarded to the Merchant, deduct the applicable fees as provided under this Agreement. The Merchant will not receive any interest on the Sales Proceeds.</p>
        <p>5.2	The Merchant agrees that, unless otherwise agreed in writing between the Parties, the Sales Proceeds will be forwarded by the Company to the Merchant on a monthly/bi-monthly basis.</p>
        <p>5.3	Without prejudice to any other remedies which the Company may have against the Merchant, if any payment by the Merchant to the Company shall become due, the Merchant shall pay to the Company an interest of eight per cent (8%) per annum on the outstanding payment. The interest shall be calculated on a daily basis.</p>
        <p>5.4	The Company may at its absolute discretion delay, cancel or suspend any payment of Sales Proceeds in the event the Merchant is in breach of terms and conditions of this Agreement or the Customer Agreement or if there is a possibility that a Customer dispute may occur in respect of a transaction, to withhold such affected Sales Proceeds for after the investigation into the dispute is completed. In the event of dispute in relation to the Sales Proceeds, the record of the Sales Proceeds maintained by the Company, shall be final and binding on the Parties.</p>
        <p>5.5	Any payment of Sales Proceeds, before or after the aforementioned event in Clause 5.4, will not in any way constitute a waiver of the Company's rights for further remedies</p>
        <br />
        <h2 id="headline-6">6	Merchant Undertakings</h2>
        <p>By using the Services, the Merchant undertakes, represents and warrants to the Company and the Customers that it shall:</p>
        <ul class="list-style-none">
            <li><p>(a)	comply with all applicable laws and regulations, including but not limited to the Communications and Multimedia Act 1998, Consumer Protection Act 1999, Personal Data Protection Act 2010, Goods and Services Tax Act 2014, anti-bribery legislations, import and export, health, safety and environmental rules, etc;</p></li>
            <li><p>(b)	be responsible for all charges, fees, taxes, duties and other charges in connection with the Order, and the Merchant shall promptly pay all such taxes, duties, fees and other charges in the manner as stipulated under the relevant laws;</p></li>
            <li><p>(c)	ensure that the listing of the Goods is complete, accurate and updated;</p></li>
            <li><p>(d)	ensure that it has subscribed to the appropriate amount of insurance coverage in relation to the sale of its Goods on the Marketplace;</p></li>
            <li><p>(e)	provide the Company with complete, accurate and updated monthly/bi-monthly stock records and listing prices of Goods;</p></li>
            <li><p>(f)	prior to the utilization of the Services, obtain all approvals, licenses, permits and rights required for the sale of Goods on the Marketplace;</p></li>
            <li><p>(g)	ensure that it has the right to sell the Goods and such Goods are free from any undisclosed security;</p></li>
            <li><p>(h)	ensure that the Goods listed on the Marketplace are genuine Goods, new, of merchantable quality, safe, fit for the particular purpose, free from defects, complies with the description provided by the Merchant;</p></li>
            <li><p>(i)	ensure that the Merchant’s personnel who (1) utilizes and liaise with the Company; (2) effect the sale of Goods through the Marketplace; or (3) execute any documentation between the Parties, has been duly authorized to do so by the Merchant and if requested, provide the Company with a copy of authorization documents; and</p></li>
            <li><p>(j)	have full authority to enter into this Agreement.</p></li>
        </ul>
        <br />
        <h2 id="headline-7">7	Usage of the Marketplace</h2>
        <p>In using the Marketplace and Services, the Merchant hereby agrees that it shall not:</p>
        <ul class="list-style-none">
            <li><p>(a)	post or display any indecent and inappropriate content, Merchant Materials or Goods on the Marketplace;</p></li>
            <li><p>(b)	sell counterfeit, "replica" and/or "knock off" products which is in contravention of any Intellectual Property Rights;</p></li>
            <li><p>(c)	violate any laws, regulations, third party rights;</p></li>
            <li><p>(d)	conduct any form of activities which are contrary to the gaming laws, e.g. any form of gambling, sweepstakes, lotteries;</p></li>
            <li><p>(e)	conduct any activities in relation to pyramid schemes, or any illegal or immoral activities;</p></li>
            <li><p>(f)	post or display and political or religious related Merchant Materials, content or Goods;</p></li>
            <li><p>(g)	engage in price manipulation practices which interfere or affects the sale of other merchants’ Goods;</p></li>
            <li><p>(h)	circumvent and/or manipulate the payment system, fee structure, billing process or any other payment processes which have been installed by the Company or the Company’s designated third party processing agent as part of the Services;</p></li>
            <li><p>(i)	circumvent and/or manipulate the review and rating system available on the Marketplace;</p></li>
            <li><p>(j)	access into other accounts which contain information that do not belong to the Merchant and sending out unsolicited marketing messages or emails to the owner of the information;</p></li>
            <li><p>(k)	attempt to or carry out any activities to sabotage, interfere or bypass the Marketplace’s system;</p></li>
            <li><p>(l)	participate in any form of reverse engineering or otherwise deriving the structure or source code of the Company’s technologies or system;</p></li>
            <li><p>(m)	create any liability for the Company, including but not limited to its Affiliates, director, employees, contractors, or expose the Company to any risk or otherwise engage in any activities which interferes or damages the Company’s operation or goodwill; and</p></li>
            <li><p>(n)	any other activities which are deemed by the Company to be harmful to the Company and Customers.</p></li>
        </ul>
        <br />
        <h2 id="headline-8">8	Sale of Goods on the Marketplace</h2>
        <p>8.1	The Company may, at its sole discretion, suspend, de-list or refuse to the listing of the Goods or request the Merchant to not to list any particular Goods on the Marketplace, by informing the Merchant and the Merchant shall within the period stipulated in the notice, effect such changes with immediate effect.</p>
        <p>8.2	The Company may, at its sole discretion, stop and/or cancel, refuse to process, restrict shipping destinations, withhold for investigation any Order made through the Marketplace. The Merchant will stop and/or cancel orders of Products if so requested by the Company (provided that in the event the Merchant has transferred the Goods to the 3PL, the Merchant will use reasonable efforts to stop and/or cancel delivery by such 3PL). The Merchant will refund any Customer that has been charged in respect of such Order that the Company has stopped or cancelled.</p>
        <p>8.3	Unless otherwise agreed in writing, the prices indicated in the Order will not be subject to any variations. The Company reserves the right to not implement or accept any discounts, coupons, or other offers or incentives made available by the Merchant, which have not been authorized by the Company in writing.</p>
        <br />
        <h2 id="headline-9">9	Delivery Models</h2>
        <p>9.1	Orders are fulfilled by the following delivery models:</p>
        <p>Drop Shipping: the Merchant will pack the Product and a 3PL will collect and deliver the Product to the Customer</p>
        <p>9.2	Unless otherwise provided in this Agreement, the Merchant will be responsible for all costs incurred in connection to the delivery of the Products, including but not limited to the Shipping Fee or any processing fee incurred for any Failed Delivery or Returned Products.</p>
        <p>9.3	Any costs incurred by the Company in relation to <b>Clause 9.2</b> will be debited to the Merchant’s Account. The Merchant will also be liable for the required payment of all customs, taxes, and duties and any other charges in relation to the delivery and custom clearance of the Products.</p>
        <p>9.4	The Merchant must comply with standard operating procedures, import procedures, weight and size restrictions, and other shipping requirements of the 3PL.</p>
        <br />
        <h2 id="headline-10">10	Drop Shipping</h2>
        <p>10.1	The Merchant will prepare and instruct the 3PL to deliver the Order within 48 hours from the Order being placed by the Customer through the Marketplace. The Company reserves the right to modify the estimated delivery time at its discretion.</p>
        <p>10.2	The Merchant will provide the Company with the updated Order shipment tracking information.</p>
        <p>10.3	For the avoidance of doubt, the risk of loss and title for the Products under this Drop Shipping Model will remain with the Merchant, and the Company will have no liability whatsoever related to the Products, including their storage, delivery, delays, damage or loss.</p>
        <p>10.4	The Company reserves the right to refuse the delivery of the following inappropriate Products:</p>
        <p>10.4.1	if the Company determines that the Products create a health, safety or liability risk to the Company and/or its personnel; or</p>
        <p>10.4.2	if the details or specifications of the Products do not match the details shown on Cross Docking request form provided by the Merchant.</p>
        <p>10.5	The Company may return at the expense of the Merchant such inappropriate Products.</p>
        <p>10.6	The Merchant may also opt for the Customer to collect the Products directly from the Merchant/ Merchants pick up location. All other terms related to delivery as per this Clause 10 shall be applicable regardless of whether the delivery methods opted for by the Customer/ Merchant. In the event the Customer does not collect the Products within fourteen (14) days from the pre-arranged date and time for such collection as per the arrangement between the Customer and the Merchant, the Merchant shall arrange for the Product to be shipped to the Company.</p>
        <br />
        <h2 id="headline-11">11	Order Cancellation</h2>
        <p>11.1	An Order may be cancelled by the Company in the following manner:</p>
        <ul class="list-style-none">
            <li>
                <p>(a)	Merchant<br />In the event that, for whatsoever reasons and without any prior notice of the changes made to the Merchant’s listing on the Marketplace, the Merchant cancels the Order due to insufficient stock, the Company will impose on the Merchant a penalty of RM 50 for each Order which was cancelled in this manner.</p>
            </li>
            <li>
                <p>(b)	Customer<br />In the event that, the Customer violates its obligations or warranties under the Customer Agreement, the Company may cancel the Order and notify the Customer of such cancellation. The Company will also notify the Merchant of the cancellation within 2 hours of the Customer’s violation.</p>
            </li>
            <li>
                <p>(c)	Goods not shipped after 48 hours<br />In the event that, the Goods are not delivered after 48 hours from the confirmation of the Order, the Company may cancel the Order and notify the Merchant of such cancellation and impose on the Merchant a penalty of RM 50 for each Order which was cancelled in this manner.</p>
            </li>
            <li>
                <p>(d)	Goods was shipped after 48 hours<br />In the event that, the Products were delivered after 48 hours from the confirmation of the Order, the Company may cancel the Order and notify the Merchant of such cancellation and impose on the Merchant a penalty of RM 50 for each Order which was cancelled in this manner.</p>
            </li>
        </ul>

        <p>Provided that <b>Clauses 11(c)</b> and <b>(d)</b> will not apply to Products where the Merchant has expressly stated in the description that such Goods are subject to pre-orders, predetermined delivery dates or any other exceptions which are approved by the Company in writing ("<b>Penalty Exception</b>").</p>
        <p>11.2	In order for the Merchant to rely on the Penalty Exception, the Merchant shall ensure that the timelines are clearly stated in the description of the Goods, to enable the Customer to make an informed choice before placing an Order.</p>
        <p>11.3	Subject to the terms and conditions of the Customer Agreement, in the event an Order was cancelled pursuant to <b>Clauses 11.1 (a) – (d)</b>, the Company will proceed to close the Order and refund the full amount as stated in the Order to the Customer.</p>
        <p>11.4	The Company will not be responsible for any risk or liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with the Order cancellation effected under this <b>Clause 11</b>.</p>
        <br />
        <h2 id="headline-12">12	Returns and Refund</h2>
        <p>12.1	Subject to <b>Clause 12.2</b>, Goods may be returned to the Merchant in the following manner:</p>
        <ul class="list-style-none">
            <li>
                <p>(a)	Defective Products<br />In the event that the Customer rejects the Product on the grounds that it is defective, such Defective Product will be returned to the Merchant or the Company (depending on which delivery model was employed) and upon verification by the Merchant, the Company may, at the Company’s sole discretion, proceed to request that the Merchant replace the Defective Product or close the Order and refund the amount as stated in the Order to the Customer.<br />The Merchant will be debited for all costs associated with the return and refund or replacement, including the Payment Fee and Shipping Fee and the cost of returning the Defective Product, if any.</p>
            </li>
            <li>
                <p>(b)	Failed Deliveries<br />In the event that the 3PL fails to deliver the Product to the Customer, the Merchant shall arrange for such Product to instead be sent to the Company.<br />Upon verification by Company as to why such delivery failed, the Company will proceed to close the Order and release payment of the Product to the Merchant; if it is established by the Company, at its sole discretion, that such delivery failed through no fault of the 3PL and/or Merchant. In the event the Company establishes that the delivery failed through the fault of the Merchant and/or the 3PL, the Merchant will be debited for all costs for the Payment Fee and the cost of shipping back the Product. The Company may also choose to blacklist the Merchant in the event of such delivery failures.</p>
            </li>
            <li>
                <p>(c)	Returned Products<br />The Merchant will accept the Returned Product by the Customer if such Product were returned in accordance with the Company’s return policy and the Company will have the right to determine at its sole discretion whether a Customer will receive a refund or replacement for such Returned Product.<br />If the Company determines that the Returned Product is faulty or damaged, and that such fault or damages are attributed to the handling of the Customer, the Merchant will not be liable to accept the Returned Product.</p>
            </li>
        </ul>
        <p>12.2	The Customer is not allowed to return or exchange the following Products, unless such Products are defective or wrongly delivered:</p>
        <ul class="list-style-none">
            <li><p>(a)	Goods delivered from overseas;</p></li>
            <li><p>(b)	gadgets and electronics;</p></li>
            <li><p>(c)	lingerie and underwear;</p></li>
            <li><p>(d)	food items;</p></li>
            <li><p>(e)	swimsuit;</p></li>
            <li><p>(f)	beauty products;</p></li>
            <li><p>(g)	fragrances;</p>
            <li><p>(h)	customized products; or</p></li>
            <li><p>(i)	ticket,hotel reservations and vouchers, airline tickets, concert tickets or a product of similar nature.</p></li>
        </ul>
        <p>12.3	The Company will not be responsible for any risk or liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with the return of the Products effected under this <b>Clause 12</b>.</p>
        <br />
        <h2 id="headline-13">13	No Warranties</h2>
        <p>13.1	The Company will use its best effort to maintain the Services and the Marketplace throughout the Term of this Agreement. However, the Company, to the fullest extent permitted by law, makes no representations or warranties, express or implied, including:</p>
        <ul class="list-style-none">
            <li><p>(a)	that the Marketplace and Services will always be uninterrupted, accessible, secure, or free from error;</p></li>
            <li><p>(b)	any implied warranty arising from course of dealing or usage of trade; and</p></li>
            <li><p>(c)	any remedy, obligation, liability, right of claim, unless arising from acts of fraud, negligence or misconduct directly attributed to the Company.</p></li>
        </ul>

        <p>13.2	The Merchant acknowledges that any information provided by the Company through the Marketplace, may contain inaccuracies or errors, despite the Company’s reasonable effort to minimize such errors. The Company hereby excludes liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
        <p>13.3	The Company will similarly not be held liable or responsible for the content of any link found on the Marketplace, which is not related to the Company or the Services.</p>
        <br />
        <h2 id="headline-14">14	Indemnity</h2>
        <p>14.1	As the Company’s business is only to provide a Marketplace for the Merchant and the Customer, the Company is not involved in transactions between the Merchant and the Customer. Therefore, the Merchant hereby agrees to release the Company, together with its agents and employees, from any claims, demands, losses and damages, in relation to the transaction, provided such release will not apply where such claims arise due to the Company's fraud, gross negligence or willful misconduct.</p>
        <p>14.2	The Merchant will indemnify, defend and hold harmless the Company and its employees, directors, agents and representatives, from and against any damages, losses, liabilities, claims, litigation, demands, proceedings, costs, or expenses related to any actual or alleged breach of Merchant’s undertakings, representations, warranties, or obligations set out in this Agreement or the Customer Agreement.</p>
        <br />
        <h2 id="headline-15">15	Limitation of Liability</h2>
        <p>15.1	Nothing in this Agreement excludes or restricts each Party’s liability for fraudulent misrepresentation, death or personal injury resulting from its own negligence or that of its employees while acting in the course of their employment by such Party. However, nothing in this Clause gives a Party any right or remedy which it would not otherwise have under this Agreement.</p>
        <p>15.2	Subject to <b>Clause 15.4</b> and to the maximum extent permitted by law, the Company will not be held liable for any damages of any nature, in connection with this Agreement, the Customer Agreement, the Marketplace, the Services, the Goods, provided that such losses are directly attributed to the Company’s fraud, gross negligence or willful misconduct.</p>
        <p>15.3	Without limiting the application of any other provision of this <b>Clause 15</b>, the Company’s total liability to the Merchant under this Agreement will not exceed the Service Fee which the Company is entitled to receive from the Merchant for the month preceding the date the liability arose, or RM 5,000, whichever is lower.</p>
        <br />
        <h2 id="headline-16">16	Outsourcing</h2>
        <p>16.1	The Company may entrust or outsource part or all of their operation of the Services to a third party, under Company’s sole discretion.</p>
        <p>16.2	The Company will not be responsible for any risk or liable for any claims, demands, liabilities, expenses, losses, cost or damage in connection with the services provided by the outsourced third party, under this <b>Clause 16</b>.</p>
        <br />
        <h2 id="headline-17">17	Confidential Information</h2>
        <p>17.1	The receiving Party of any Confidential Information shall not disclose the same, except to its Affiliates, employees, and/or agents on a strictly "need to know" basis or to parties who have agreed in writing to keep such information private and confidential.</p>
        <p>17.2	The confidentiality obligations in this <b>Clause 17</b> will not apply if the Merchant is required by court, government or other regulatory body to disclose the Confidential Information, but only to the extent required by law, provided that the Merchant gives the Company written notice as soon as practicable of such requirement.</p>
        <p>17.3	This <b>Clause 17</b> shall continue in force for a period of two (2) years after any termination of this Agreement.</p>
        <h2 id="headline-18">18	Intellectual Property Rights</h2>
        <p>18.1	Nothing in this Agreement entitles the Merchant to use the Company’s name, logo and trade mark or any of the Company’s Intellectual Property Rights.</p>
        <p>18.2	All Intellectual Property Rights pertaining to the Services, Marketplace, App shall remain the exclusive property of the Company or its licensors and nothing shall operate as to transfer any interest, or create any express or implied licenses, in the Company’s Intellectual Property Rights to the Merchant.</p>
        <p>18.3	The Merchant hereby grants to the Company and its Affiliates a world-wide, non-exclusive, royalty-free license (with full right to sublicense) to use, publish, display, reproduce, exploit, modify, alter, integrate, make available, merge, decompile or reverse engineer or commercially or non-commercially exploit in any manner, the Merchant’s Materials for its business operations, the purposes of providing the Services and fulfilling the Company’s obligations under this Agreement.</p>
        <p>18.4	The Merchant warrants that it is either the rightful owner or licensee of the Merchant’s Materials, or that it has procured sufficient rights to the Merchant’s Materials in order to fulfil its obligations as set out in this Agreement. Nothing in this Agreement shall limit the Merchant’s liability for breach of this warranty or for breach by the Merchant of the Company’s Intellectual Property Rights.</p>
        <p>18.5	The Merchant shall hold harmless and further indemnify against the Company, its directors, employees and agents from and against any costs, expenses claims, damages, losses or liability (including but not limited to, legal fees incurred in procuring legal advice) that the Company may suffer, on a full indemnity basis, arising from any alleged or actual infringement, whether or not under the laws of Malaysia, of any third party’s intellectual property rights in relation to the usage of the Merchant’s Materials in providing the Services.</p>
        <br />
        <h2 id="headline-19">19	Personal Data</h2>
        <p>19.1	The Merchant undertakes, represents and warrants that it will use and process Personal Data in compliance with the Personal Data Protection Act 2010 and for the purpose of this Agreement and not disclose such Personal Data to any third parties.</p>
        <p>19.2	The Merchant undertakes to process personal data in a manner that ensures the Company remains in full compliance with the requirements set out under the applicable personal data protection laws.</p>
        <p>19.3	The Merchant further warrants that it has in place sufficient technical and organizational security measures to ensure that the Personal Data are processed protects the Personal Data from loss, misuse, modification, unauthorized or accidental access, as required by the applicable personal data protection law and agrees to subject itself to the necessary audits undertaken by the Company to ensure compliance of the above warranties.</p>
        <p>19.4	The Merchant warrants that it shall hold harmless, defend, indemnify the Company and its employees, directors, agents and representatives, from and against any damages, losses, liabilities, claims, proceedings, costs, or expenses of any nature pursuant to the breach this <b>Clause 19</b> ("<b>Personal Data Claims</b>"), to the extent that such Personal Data Claims are directly and/or indirectly attributable to the Merchant’s negligence, gross negligence or willful misconduct.</p>
        <br />
        <h2 id="headline-20">20	Termination</h2>
        <p>20.1	The Company may by way of written notice terminate this Agreement with immediate effect, without having to pay any compensation to the Merchant if:</p>
        <ul class="list-style-none">
            <li><p>(a)	the Merchant is the subject of bankruptcy, winding-up or any other insolvency proceedings in Malaysia or elsewhere, a receiver or administrator is appointed over any of the Merchant’s assets, or the Merchant enters into any composition or arrangement (or equivalent) with the Merchant’s creditors, or the Merchant or the Company reasonably believes that such events are reasonably likely to occur. For the purposes of this <b>Clause 20.1(a)</b> "Merchant" shall include the Customer’s direct and/or indirect parent company;</p></li>
            <li><p>(b)	the Merchant makes a material misstatement in the details the Merchant has provided to the Company to enable the Company to provide the Services;</p></li>
            <li><p>(c)	the Merchant is in breach of any provision of this Agreement and failing to remedy the same within 14 days after being notified;</p></li>
            <li><p>(d)	the Merchant contravenes any Malaysian laws or fails to obtain the necessary licenses, approvals or permits to carry on its business in Malaysia; or</p></li>
            <li><p>(e)	the Merchant ceasing or in any event threatening to cease to carry on its business.</p></li>
        </ul>
        <p>20.2	If the Company terminates this Agreement pursuant to <b>Clause 20.1</b> above, any outstanding payment, charges or fees shall become immediately due and payable and the Merchant shall, without prejudice to any claim, demands or action by the Company for damages for any breach of this Agreement, pay to the Company all outstanding charges, payment or fees due and owing at within 7 days of the termination and any transactions, performance, obligations between the Merchant and the Customers, which occurred prior to the written termination notice as provided in <b>Clause 20.1</b>, shall be fulfilled by the Merchant, at the Merchant’s own cost.</p>
        <p>20.3	The termination of this Agreement pursuant to this <b>Clause 20</b> shall not affect any provision of this Agreement which is expressed or by implication intended to survive the termination of this Agreement.</p>
        <br />
        <h2 id="headline-21">21	App</h2>
        <p>21.1	The Merchant agrees to comply with this Agreement and any licenses, approvals or permits required by the Company or other owner of any Intellectual Property Rights in the App.</p>
        <p>21.2	Whilst the Company has made reasonable efforts to minimize defects or errors in the App and to periodically check the App for viruses, the Company does not warrant that the Merchant’s use of the App will be uninterrupted or that the operation of the App will be free from errors and virus, secure, or that the App and the functions of the App will be merchantable. In addition, the security mechanism implemented or installed in the App has inherent limitations and the Merchant shall have sole responsibility in determining that the App sufficiently meets the Merchant’s business requirements.</p>
        <p>21.3	To the maximum extent permitted by law and upon prompt notification of the Merchant, the Company’s sole liability (and Merchant’s sole remedy) with respect to the App shall be to use all reasonable endeavors to correct the defective App, if required.</p>
        <br />
        <h2 id="headline-22">22	Applicable law and jurisdiction</h2>
        <p>22.1	This Agreement shall be governed by and construed in accordance with Malaysian laws.</p>
        <p>22.2	In the event of any dispute or difference of any kind whatsoever which shall arise between any of the Parties in connection with, or arising out of this Agreement, or the breach, termination or validity hereof (referred to as the "<b>Dispute</b>"), the Parties shall attempt in good faith, for a period of 30 Business Days after the receipt by one Party of a notice from any other Party of the existence of the Dispute ("<b>Dispute Notice</b>"), to amicably settle such Dispute in the first instance by mutual discussions between the Parties.</p>
        <p>22.3	If the Dispute cannot be settled within 30 Business Days from the date of the Dispute Notice, such Dispute shall be referred to and be finally settled by arbitration under the auspices of the Kuala Lumpur Regional Centre for Arbitration ("Centre") and under the Rules as applied by the Centre. There shall be one (1) arbitrator whose appointment shall be agreed by the Parties. If the Parties are unable to agree on an arbitrator within a reasonable time, the arbitrator shall be appointed by the director of the Centre. The place of arbitration shall be the Centre. The language of the arbitration shall be English. The decision of the arbitrator shall be final and binding on the Parties except in the case of manifest errors and the costs of the arbitration shall be borne in such manner as the arbitrator shall direct.</p>
        <p>22.4	Notwithstanding the foregoing, in the event the Parties believe that they may suffer irreparable harm prior to the resolution of any conflict by following the arbitration procedures established herein, either or both Parties may apply to a court of competent jurisdiction for a restraining order or other equitable relief.</p>
        <br />
        <h2 id="headline-23">23	Miscellaneous</h2>
        <p>23.1	The Merchant shall not assign, transfer or subcontract of its rights deriving from this Agreement, without the prior written consent of the Company. The Company may at its sole discretion assign, transfer or subcontract all or part of its rights set out in this Agreement.</p>
        <p>23.2	The Parties are and shall remain as independent contractors, and nothing in this Agreement will create any franchise, partnership, joint venture, agency, or exclusivity between the Parties. This Agreement will not cause the establishment of any relationship of employment between the Parties or with any person who provides services to either Parties.</p>
        <p>23.3	No waiver by the Company of any default by the Merchant under this Agreement shall be construed as a waiver by the Company of any future defaults, whether of a like or different character. No granting of time or other forbearance or indulgence by the Company to the Merchant shall imply a waiver of the Company’s rights or shall in any way release, discharge or otherwise affect the Merchant’s liability under this Agreement.</p>
        <p>23.4	If any court or any governmental agency or authority of competent jurisdiction holds any provision of this Agreement to be invalid, void, or unenforceable, including in particular any limitation of liability or exclusion of implied terms, then:</p>
        <ul class="list-style-none">
            <li><p>(a)	if necessary, the Parties agree to amend the applicable provision in accordance with applicable law; and</p></li>
            <li><p>(b)	the remainder of this Agreement shall nevertheless remain legal, valid, and enforceable.</p></li>
        </ul>
        <p>23.5	No Party will be liable to the other or be deemed to be in breach of this Agreement due to any failure to perform any of its obligations if such failure was due to an event of Force Majeure. Upon the occurrence of any Force Majeure event, the Company may, at its discretion, fully or partially suspend performance of its obligations hereunder while such event continues. If any of the events of Force Majeure has continued for a period exceeding 30 days, the Company may notify the Merchant in writing that it will terminate this Agreement in respect of a Force Majeure event.</p>
        <p>23.6	Time whenever mentioned in this Agreement will be of the essence of the Agreement.</p>
        <p>23.7	All stamp duty and registration fees (if any) in respect of this Agreement will be fully paid by the Merchant.</p>
        <br/>
        <h2 id="headline-24">Schedule 1</h2>
        <p>(Commissions table and other fees and charges)</p>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Commission Rate exc. GST</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Fashion</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Women's Fashion</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Men's Fashion</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Bags & Shoes </td><td>8%</td></tr>
                <tr><td>2</td><td>Jewellery & Accessories</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Jewellery</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Watches </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Women Accessories </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Men Accessories</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Eyewear </td><td>10%</td></tr>
                <tr><td>3</td><td>Beauty & Healthcare</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Cosmetics </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Fragances</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Beauty Accessories & Tools</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Skin & Personal Care </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Fitness Equipments </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Health Supplement & Tools </td><td>8%</td></tr>
                <tr><td>4</td><td>Gadgets & Electonics</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Mobiles & Tablets</td><td>5%</td></tr>
                <tr><td></td><td></td><td>Computers & Laptops </td><td>5%</td></tr>
                <tr><td></td><td></td><td>Entertainment Devices</td><td>5%</td></tr>
                <tr><td></td><td></td><td>Cameras</td><td>5%</td></tr>
                <tr><td></td><td></td><td>Accessories </td><td>8%</td></tr>
                <tr><td>5</td><td>Home & Living</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Furnitures </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Bedding & Bathroom </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Kitchen & Dining</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Home Appliances</td><td>8%</td></tr>
                <tr><td></td><td></td><td>DIY Tools </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Home Décor </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Outdoor & Garden</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Pets</td><td>5%</td></tr>
                <tr><td>6</td><td>Sports & Travel</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Sports Clothings</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Sports Accessories </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Outdoor Adventures </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Travel & Luggages</td><td>10%</td></tr>
                <tr><td>7</td><td>Hobbies & Leisures</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Games </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Books, Media & Music </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Automotives </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Stationaries </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Party Goods</td><td>8%</td></tr>
                <tr><td>8</td><td>Baby, Toddler, Kids</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Baby Clothings</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Baby Health & Safety</td><td>8%</td></tr>
                <tr><td></td><td></td><td>Baby Feeding & Nursing </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Maternity Care </td><td>8%</td></tr>
                <tr><td></td><td></td><td>Girl Clothing </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Boy Clothing</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Kids Accessories </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Toys </td><td>10%</td></tr>
                <tr><td>9</td><td>Groceries</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Food & Beverages </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Baking & Cooking</td><td>10%</td></tr>
                <tr><td></td><td></td><td>Fresh & Frozen Food</td><td>10%</td></tr>
                <tr><td>10</td><td>Vouchers</td><td></td><td></td></tr>
                <tr><td></td><td></td><td>Food & Beverages </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Leisures & Activities </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Beauty & Healthcare </td><td>10%</td></tr>
                <tr><td></td><td></td><td>Travel & Hotels </td><td>5%</td></tr>
            </tbody>
        </table>
        			
        




    </div>
</div>