@{
    ViewBag.Title = "";
}
<style type="text/css">

</style>
<link href="~/Content/ray.css" rel="stylesheet" />
<script src="~/Scripts/ray.js"></script>
<div class="r-life-timer">

</div>
<script type="text/javascript">
    var $widget = $('.r-life-timer');
    $widget.lifeTimer({
        brithday: new Date(1991,09,02, 01, 24)
    });
</script>
